!!!
%html
  %head
    = render 'layouts/head'
  %body
    - if admin_signed_in?
      = render 'layouts/admin_masthead'
    - else
      = render 'layouts/masthead'
    .container-fluid
      = render 'layouts/messages'
      = yield
      = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
= render 'layouts/debug' if Rails.env.development?
