!!!
%html
  %head
    = render 'layouts/head'
    = yield(:head_javascripts)
  %body
    - if admin_signed_in?
      = render 'layouts/admin_masthead'
      = render 'layouts/admin_dashboard_js'
    - else
      = render 'layouts/masthead'
    .container-fluid
      = render 'layouts/messages'
      = yield
    = render 'layouts/debug' if Rails.env.development?
    = yield(:javascripts)

